.navbar{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
    
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style-type: none;
    background-color: yellow;

}

.outer{
    height: 300px;
    width: 300px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: darkorchid;
    /* align-self: flex-start; */
}

@media(max-width:300px){
    .inner{
        background-color: green;
    }
}

@media(min-width:300px) and (max-width:400px){
    .inner{
        background-color: pink;
    }
}

@media(min-width:400px) and (max-width:600px){
    .inner{
        background-color: red;
    }
}

@media(min-width:600px){
    .inner{
        background-color: blue;
    }
}